.custom_table_heading {
	@apply mb-5 flex flex-col items-start gap-5 px-1 sm:flex-row sm:items-center sm:justify-between md:gap-0;

	.block_container {
		@apply flex w-full flex-col items-center gap-5 sm:w-auto sm:flex-row;
	}

	.input_container {
		@apply relative w-full sm:w-auto;
	}
	.heading {
		@apply inline-block text-center text-lg font-normal text-gray-600 sm:text-xl;
	}
}

.custom_table_content {
	@apply w-full overflow-x-auto overflow-y-auto rounded border border-gray-100 [&::-webkit-scrollbar-thumb]:bg-none [&::-webkit-scrollbar]:[width:0px];
}

.custom_table {
	@apply min-w-full divide-y divide-gray-100;

	> thead {
		@apply sticky left-0 top-0 z-20 select-none bg-gray-50;

		> tr {
			> th {
				@apply max-w-[300px] truncate p-4 text-left text-[14px] font-semibold text-gray-700;
			}
		}
	}

	> tbody {
		@apply divide-y divide-gray-100 overflow-y-auto bg-white;

		> tr {
			@apply hover:bg-gray-50;

			> td {
				@apply max-w-[300px] truncate px-4 py-4 text-sm text-gray-700;
			}
		}
	}
}

.custom_table_footer {
	@apply mb-2 mt-8 flex flex-col items-center justify-center gap-5 sm:flex-row sm:justify-between;

	.show_per_item {
		@apply text-sm font-normal uppercase text-gray-600 lg:pl-1;
	}

	.navigation_container {
		@apply flex flex-col items-center gap-5 sm:flex-row md:px-1;

		.navigation {
			@apply flex items-center gap-2 whitespace-nowrap;

			> button {
				@apply rounded bg-gray-100/50 p-2 hover:bg-gray-100 disabled:opacity-50;
			}

			> span {
				@apply mx-2 text-sm font-normal uppercase text-gray-600;
			}
		}

		.show_per_page {
			@apply rounded border border-gray-300 px-5 py-1.5 text-center text-sm font-normal uppercase text-gray-600 outline-none;
		}
	}
}

.empty_data_container {
	@apply h-40 font-normal text-gray-600;
}

.empty_data {
	@apply flex flex-col items-center justify-center gap-2;
}

.loader_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
}

.loader {
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 4px solid hsl(var(--primary));
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
