@keyframes fadeSlideIn {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	50% {
		opacity: 0.5;
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.custom_select {
	&__control {
		background-color: white !important;
		padding: 0.7px !important;
		box-shadow: none !important;
		font-weight: 400 !important;
		transition: border-color 0.4s ease-in !important;
		max-height: 120px;
		overflow: auto;
		background-color: white !important;
		border: 1px solid #d1d5db; // Matches input border
		border-radius: 0.375rem; // rounded-md
		font-size: 0.875rem; // text-sm

		&--menu-is-open {
			border-color: hsl(var(--primary)) !important;
		}

		&:hover {
			border-color: hsl(var(--primary)) !important;
		}
	}

	&__value-container {
		display: flex;
		flex-direction: row !important;
		flex: 1 !important;
		height: 35px !important;
		overflow: auto !important;
	}

	&__multi-value {
		background-color: transparent !important;
		border: 1px solid #efefef !important;
		border-radius: 0.2rem !important;
	}

	&__menu {
		background-color: white !important;
		color: #0e1726 !important;
		animation: fadeSlideIn 0.45s ease-in-out;
		max-height: 200px;
		overflow-y: auto;
	}

	&__option {
		cursor: pointer !important;
		font-size: 14px !important;

		&--is-focused {
			background-color: #f5f5f5 !important;
			transition: background-color 0.3s ease-in;
		}
	}
}
