@keyframes flower_loader {
	0% {
		transform: rotate(0deg);
		box-shadow:
			white 0 0 15px 0,
			#ff2323 -25px -25px 0 4px,
			#ff2323 25px -25px 0 4px,
			#ff2323 25px 25px 0 4px,
			#ff2323 -25px 25px 0 4px;
	}
	50% {
		transform: rotate(1080deg);
		box-shadow:
			white 0 0 15px 0,
			#ff2323 25px 25px 0 4px,
			#ff2323 -25px 25px 0 4px,
			#ff2323 -25px -25px 0 4px,
			#ff2323 25px -25px 0 4px;
	}
}

.page {
	@apply flex h-screen w-screen items-center justify-center;
}

.flower_loader {
	@apply inline-block h-8 w-8 rounded-full bg-white;
	position: relative;
	text-indent: -9999px;
	overflow: hidden;

	animation: flower_loader 5s infinite ease-in-out;
	transform-origin: 50% 50%;
}
