.alert-confirm-btn {
	@apply ml-3 min-w-28 max-w-32 truncate whitespace-nowrap rounded-md bg-[#10b981] py-2 text-sm font-semibold text-white transition duration-200 ease-in-out hover:bg-opacity-90;
}

.alert-cancel-btn {
	@apply mr-3 min-w-28 whitespace-nowrap rounded-md bg-[#ff6a55] py-2 text-sm font-semibold text-white transition duration-200 ease-in-out hover:bg-opacity-90;
}

.swal2-popup.swal2-toast {
	display: flex !important;
}

.alert-color-warning {
	background-color: #f59e0b !important;
}

.alert-color-success {
	background-color: #10b981 !important;
}

.alert-color-error {
	background-color: #ff6a55 !important;
}

.alert-color-info {
	background-color: #2a85ff !important;
}

.swal2-popup.swal2-toast .swal2-title {
	@apply flex select-none font-semibold capitalize tracking-wide text-gray-100;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.swal2-popup.swal2-toast.swal2-show {
	animation: fadeInDown 0.5s !important;
}

// Error icon styles

.swal2-toast .swal2-icon.swal2-error {
	margin-left: 10px !important;
	margin-right: 0 !important;
}

// warning icon styles

.swal2-toast .swal2-icon.swal2-warning {
	margin-left: 10px !important;
	margin-right: 0 !important;
}

// info icon styles

.swal2-toast .swal2-icon.swal2-info {
	margin-left: 10px !important;
	margin-right: 0 !important;
}

// success icon styles

.swal2-toast .swal2-icon.swal2-success {
	margin-left: 10px !important;
	margin-right: 0 !important;
}

.swal2-html-container {
	color: #ff6a55 !important;
	text-overflow: wrap !important;
	font-size: 16px !important;
}

.swal2-custom-title {
	@apply mx-5 max-w-[350px] truncate whitespace-nowrap text-center text-gray-100;
}
